CaseInsensitive On
DirectoryIndex default.htm index.html index.htm default.html default.htm index.php index.asp index.aspx home.asp home.aspx index.cfm index.shtml home.htm home.html index.php3 index.phtml default.asp
CaseInsensitive On
CaseInsensitive On
